body {
   font-family: 'Work Sans', sans-serif;
}

.own-css{
   font-size: 15px;
   display: flex;
   justify-content: center;
   text-align: center;
   font-weight: bold;
   
}
.own-css-2{
   font-size: 13px;
   text-align: center;
   font-weight: 500;
   display: flex ;
   justify-content: center;
   
}
.own-div{
   font-size: 11px;
   font-weight: bold;
}